.explore-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}

.card {
    /* border: 1px solid; */
    padding: 10px;
    width: 350px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0px 0 30px 0;
    height: 380px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.explore_card_img {
    height: 240px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.explore-grid img {
    height: 100%;
    width: 100%;
}


.card_info .info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    align-items: center;

}

.card_info h5 {
    font-size: 17px;
    max-width: 80%;
    margin: 8px 0;
}


.card_info .info h2 {
    font-weight: 600;
    margin-right: 2px;

    padding-top: 2px;
    font-size: 13px !important;
}

.card_info .info .rating_div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 126, 62);
    color: #fff;
    border-radius: 6px;
    padding: 2px 8px;
    /* font-weight: 800; */
    font-size: 13px;

}

.card_info .info p {
    color: #828282;
    padding: 0 0 0.4px;

}

.card_info .time {
    flex-direction: row-reverse;
    padding: 2px 0;

}

.card_info .time p {
    color: #000 !important;
}

.card_info .offer {
    z-index: 999;
    background: red;



}

.box-container {
    position: relative;
}

.discount-tag {
    position: absolute;
    bottom: 135px;
    left: 10px;
    background-color: rgb(37, 111, 239);
    /* Adjust color as needed */
    color: #ffffff;
    /* Text color */
    padding: 0 6px;
    font-size: 14px;
    overflow: hidden;
    margin: 0 0 10px;
    border-radius: 0 2px 2px 0;
}

.card_info .bottomContainer div {
    display: flex;
    justify-content: center;
    align-items: center;


}

.card_info .bottomContainer .line {
    border-bottom: 1px solid #E8E8E8;
    margin: 5px 0;
}

.card_info .bottomContainer img {
    width: 50px;
    height: 18px;
}

.card_info .bottomContainer p {
    margin: 0 15px 0 8px;
    /* padding: 0 10px 0 0; */
    font-size: 12px;
    color: #828282;
    /* border: 1px solid; */

}

.card_info .cuisines {
    display: flex;
    /* border: 1px solid red; */
    min-width: 65%;
}



.discount-tag-gold {
    position: absolute;
    bottom: 135px;
    left: 10px;
    /* background-color: rgb(37, 111, 239); */
    /* Adjust color as needed */
    color: rgb(255, 211, 133);
    background: linear-gradient(90deg, rgb(12, 14, 17) 0%, rgb(12, 14, 17) 25%, rgb(12, 14, 17) 50%, rgba(12, 14, 17, 0.8) 80%, rgba(12, 14, 17, 0) 100%);
    /* Text color */
    padding: 0 6px;
    font-size: 14px;
    overflow: hidden;
    margin: 0 0 10px;
    border-radius: 0 2px 2px 0;
}

.discount-tag-gold p {
    font-size: 12px;
    padding: 3px 6px;
    background: linear-gradient(135deg, rgb(140, 97, 21) -85.92%, rgb(151, 109, 35) -56.81%, rgb(181, 142, 72) -27.7%, rgb(229, 195, 132) 1.41%, rgb(233, 199, 137) 30.52%, rgb(255, 234, 196) 59.63%, rgb(230, 185, 102) 88.75%, rgb(153, 111, 37) 117.86%) text;

}