#root {
    --zomato-color: #f3707d;
    /* --zomato_light_color: #757575; */
}

.filter {
    border: 1px solid #CFCFCF;
    padding: 7px 8px;
    margin-right: 14px;
    display: flex;
    border-radius: 8.5px;
    color: #AEAEAE;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.filter p {
    margin: 0 2px;
}

.filters {
    /* border: 1px solid; */
    display: flex;
    padding: 30px 0 30px 240px;

}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.sticky.filters {
    background-color: #fff;
    /* padding: 0 120px; */
}